html {
    scroll-behavior: smooth;
  }


.title {
    font-family: 'Libre Barcode 128 Text', cursive;
    font-size: 450%;
    text-align: center;
}

body {
    background-image: url(photos/tło\ do\ strony.jpg);
}

.instagram {
    font-family: 'Libre Barcode 128 Text', cursive;
    font-size: 400%;
    text-align: center;
}

header {
    background-color: #000000;
    padding: 10px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 16px;
}

nav a:hover {
    color: #ddd;
}

.photos {text-align: center;}

#about, #services, #contact {
    font-size: x-large;
    text-align: center;
}

#about {
    border: 2px solid #000000; 
  padding: 10px; 
  border-radius: 10px;
}

#services {
    border: 2px solid #000000; 
  padding: 10px; 
  border-radius: 10px;
}


#contact {
    border: 2px solid #000000; 
  padding: 10px; 
  border-radius: 10px;
}

.first {font-size: 200%;
font-family:'Rubik Burned' ; }

.second {font-size: 200%;
    font-family:'Rubik Burned' ; }

.third {font-size: 200%;
    font-family:'Rubik Burned' ; }    

    .box {
        padding-bottom: 10pc;
    }


    .menu {
        font-family:"Rubik Burned";
    }

    .font {
        font-family: "Manrope";
    }

