.title {
    font-family: 'Libre Barcode 128 Text', cursive;
    font-size: xx-large;
    text-align: center;
}

body {
    background-image: url(https://i.pinimg.com/564x/71/fe/23/71fe239b68117029d2fa4310b1a85fa8.jpg);
}

.instagram {
    font-family: 'Libre Barcode 128 Text', cursive;
    font-size: 400%;
    text-align: center;
}